<section id="app">
  <small *ngIf="!!participantNameStore">Olá {{ participantNameStore }}</small>
  <h1>Sorteador amigo secreto</h1>

  <article>
    <div>
      <label for="name">Insira seu nome</label>
      <input type="text" id="name" name="name" [(ngModel)]="participantName" />
    </div>

    <button [disabled]="!participantName" (click)="showSecretFriend()">
      Descobrir amigo secreto
    </button>
  </article>

  <div *ngIf="!!errorMessage">{{ errorMessage }}</div>

  <section *ngIf="!!friendName">
    <h2>O nome do seu amigo secreto é</h2>
    <h1>{{ friendName }}</h1>
  </section>

  <figure *ngIf="isTroll">
    <h3>Seu safado, para de curiar a vida dos outros</h3>
    <img
      src="https://img.quizur.com/f/img6036de384eece6.39932475.jpg?lastEdited=1614208573"
      alt="troll"
    />
  </figure>
</section>
